<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.miataru.ios.background-location</string>
		<string>com.miataru.ios.background-server-update</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.miataru.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miataru</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show your position and share with your devices.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need background location to keep your device location updated even when the app is not open.</string>
</dict>
</plist>
