.DS_Store
.swiftpm/
Sample/NavigationRouteInstructionExtractor/NavigationRouteInstructionExtractor.xcodeproj/project.xcworkspace/xcuserdata/
Sample/NavigationRouteInstructionExtractor/NavigationRouteInstructionExtractor.xcodeproj/xcuserdata/
