<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Miataru.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76488D5E8D1CA5B4E7D9AF37BC41363E5266FB42</string>
				<key>dateExpires</key>
				<string>04.11.22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X7H5D9Q5T4.com.miataru.ios</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>X7H5D9Q5T4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>X7H5D9Q5T4.com.miataru.ios</string>
				</array>
			</dict>
			<key>name</key>
			<string>Miataru.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ce7e0a7c-03bb-4e73-8390-4866863dbc80</string>
				<key>dateExpires</key>
				<string>04.11.22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.miataru.ios</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X7H5D9Q5T4</string>
				<key>name</key>
				<string>Daniel Kirstenpfad</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5.1</string>
		</dict>
	</array>
</dict>
</plist>
