<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/miataru.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.miataru.ios</string>
		<key>CFBundleShortVersionString</key>
		<string>2.1</string>
		<key>CFBundleVersion</key>
		<string>6</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Daniel Kirstenpfad (BZUPZG7MA7)</string>
		<key>Team</key>
		<string>X7H5D9Q5T4</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-07-15T15:04:46Z</date>
	<key>Distributions</key>
	<array>
		<dict>
			<key>adamId</key>
			<string>717539389</string>
			<key>certificateSHA1</key>
			<string>16A15E5A75EB25F0B8E8F8AB322825892BF1DC36</string>
			<key>destination</key>
			<string>upload</string>
			<key>identifier</key>
			<string>26818582-3414-4854-98bb-b7cff0a0086f</string>
			<key>preparationEvent</key>
			<dict>
				<key>date</key>
				<string>2025-07-15T15:05:19Z</string>
				<key>errors</key>
				<array/>
				<key>infoMessages</key>
				<array/>
				<key>shortTitle</key>
				<string>Prepared</string>
				<key>state</key>
				<string>success</string>
				<key>title</key>
				<string>Prepared archive for uploading</string>
				<key>warnings</key>
				<array/>
			</dict>
			<key>providerId</key>
			<string>69a6de7d-bbbd-47e3-e053-5b8c7c11a4d1</string>
			<key>task</key>
			<string>distribute</string>
			<key>teamID</key>
			<string>X7H5D9Q5T4</string>
			<key>uploadDestination</key>
			<string>App Store</string>
			<key>uploadEvent</key>
			<dict>
				<key>date</key>
				<string>2025-07-15T15:06:12Z</string>
				<key>errors</key>
				<array/>
				<key>infoMessages</key>
				<array/>
				<key>shortTitle</key>
				<string>Uploaded</string>
				<key>state</key>
				<string>success</string>
				<key>title</key>
				<string>Uploaded to Apple</string>
				<key>warnings</key>
				<array/>
			</dict>
			<key>uploadedBuildNumber</key>
			<string>6</string>
		</dict>
	</array>
	<key>Name</key>
	<string>miataru</string>
	<key>SchemeName</key>
	<string>miataru</string>
</dict>
</plist>
