<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>track_and_history</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>location_track</string>
			<key>Key</key>
			<string>track_and_report_location</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>save_location_history_to_server</string>
			<key>Key</key>
			<string>save_location_history_on_server</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>store_history_before_autoremove</string>
			<key>Key</key>
			<string>location_data_retention_time</string>
			<key>DefaultValue</key>
			<string>1440</string>
			<key>Titles</key>
			<array>
				<string>30minutes</string>
				<string>1hour</string>
				<string>2hours</string>
				<string>6hours</string>
				<string>12hours</string>
				<string>24hours</string>
				<string>7days</string>
			</array>
			<key>Values</key>
			<array>
				<string>30</string>
				<string>60</string>
				<string>120</string>
				<string>360</string>
				<string>720</string>
				<string>1440</string>
				<string>10080</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>activity_type_accuracy_settings_title</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>activity_type_tracking_accuracy_title</string>
			<key>Key</key>
			<string>location_activity_type</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>activity_type_other</string>
				<string>activity_type_automotive</string>
				<string>activity_type_fitness</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>location_sensitivity_title</string>
			<key>Key</key>
			<string>location_sensitivity_level</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>Titles</key>
			<array>
				<string>location_tracking_update_sensitivity_very_sensitive_short</string>
				<string>location_tracking_update_sensitivity_default_short</string>
				<string>location_tracking_update_sensitivity_balanced_short</string>
				<string>location_tracking_update_sensitivity_battery_saver_short</string>
				<string>location_tracking_update_sensitivity_minimal_short</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>server_url</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>server_url</string>
			<key>Key</key>
			<string>miataru_server_url</string>
			<key>DefaultValue</key>
			<string>https://service.miataru.com</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>app_behaviour</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>deactivate_device_lock</string>
			<key>Key</key>
			<string>disable_device_autolock_while_in_foreground</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>indicate_location_accuracy</string>
			<key>Key</key>
			<string>indicate_accuracy_on_map</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>auto_refresh_device_list</string>
			<key>Key</key>
			<string>auto_refresh_device_list</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>show_history_days</string>
			<key>Key</key>
			<string>history_number_of_days</string>
			<key>DefaultValue</key>
			<string>10000000</string>
			<key>Titles</key>
			<array>
				<string>1day</string>
				<string>2days</string>
				<string>3days</string>
				<string>4days</string>
				<string>5days</string>
				<string>6days</string>
				<string>7days</string>
				<string>14days</string>
				<string>31days</string>
				<string>all_available</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>14</string>
				<string>31</string>
				<string>10000000</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>map_configuration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>map_type</string>
			<key>Key</key>
			<string>map_type</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Titles</key>
			<array>
				<string>default_map</string>
				<string>hybrid_map</string>
				<string>sat_map</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>map_update_interval</string>
			<key>Key</key>
			<string>map_update_interval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>5s</string>
				<string>10s</string>
				<string>15s</string>
				<string>30s</string>
				<string>60s</string>
			</array>
			<key>Values</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>30</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>map_zoom_level</string>
			<key>Key</key>
			<string>map_zoom_level</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Titles</key>
			<array>
				<string>1km</string>
				<string>2km</string>
				<string>5km</string>
				<string>10km</string>
				<string>25km</string>
				<string>50km</string>
				<string>100km</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>5</string>
				<string>10</string>
				<string>25</string>
				<string>50</string>
				<string>100</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>zoom_to_fit_for_groups</string>
			<key>Key</key>
			<string>groups_zoom_to_fit</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
